
body{
  font-family: 'Ubuntu mono', monospace;
  margin:0px;
  background: #282828;
}

pre{
  font-size: 12px;
  line-height:1.5;
  letter-spacing: -.2px;
  color:#ebdbb2;
  margin:0;
  position:center;
  top: 10px;
  right: 10px;
  /*margin:100px 500px 70px 30px;*/
  /*text-transform:uppercase;*/
  /*text-decoration: underline;*/
}

.firts {
 font-size:25px;
}

.contenedor-arbol{
 font-size:25px;
 
}

.contenedor-arbol, .contenedor-arbol ul, .contenedor-arbol li {
          position: relative;
	  color:#ebdbb2  
      }

.contenedor-arbol ul {
          list-style: none;
      }

.contenedor-arbol li::before, .contenedor-arbol li::after {
          content: "";
          position: absolute;
          left: -12px;
      }

.contenedor-arbol li::before {
	border-top: 5px solid #ebdbb2;
          top: 9px;
          width: 12px;
          height: 0;
      }

.contenedor-arbol li::after {
	border-left: 5px solid #ebdbb2;
          height: 100%;
          width: 0px;
          top: 2px;
      }

.contenedor-arbol ul > li:last-child::after {
          height: 8px;
      }

